==== zy13 ===
作业13-项目作业3
占成绩比例 0.00%公布成绩时间 马上公布活动时间 2026.05.18 08:00 - 2026.05.31 23:59作业形式 个人作业计分规则 最高得分完成指标 提交作业
根据教学案例，完成自己项目的图片上传及删除功能，界面请进行一定程度的美化，建议在《web前端开发》期末作品上进行开发。

作业提交方法：

1. 页面运行界面截图，直接粘贴在答案区。

2. 源代码压缩包。

附件名大小 
导学11-电商网站开发3-后台图片上传-缩略图-水印与图片管理(1)
.ppt

=== zy14 ===
根据教学案例，完成自己项目的添加商品信息功能，界面请进行一定程度的美化，建议在《web前端开发》期末作品上进行开发。

作业提交方法：

1. 页面运行界面截图，直接粘贴在答案区。

2. 源代码压缩包。

附件名大小 
ueditor1_4_3_3-utf8-jsp
.zip
 
3.28 MB
 
导学12-资源js(1)
.rar
 
3.17 MB
 
导学12-电商网站开发4-增加商品功能(1)
.ppt
========

命题材料：《web程序设计（JSP）》期末课程项目要求

1.项目任务。本课程项目的任务是让学生应用JSP技术以及数据库的基本知识和程序设计的基本技能，亲自设计与开发一个简单但具有一定业务功能的WEB网络应用系统（网站）。使学生掌握JSP开发动态网站的方法、以及数据库的设计方法和MYSQL数据库管理系统的使用方法。培养学生电子商务系统、信息管理系统的分析、设计、开发能力。
2.项目选择。原则上每位学生都要自主完成一个电子商务网站的设计和开发，如果由于其它原因需要开发其它类型的系统，需要事先与教师沟通过。
3.基本要求。每位学生最终完成的项目基本要求如下：
（1）项目分为前台、后台两部分页面；
（2）项目连接数据库，能从数据库中读取并显示数据；
（3）对数据库中的基本表有增加、删除、修改和查询记录的功能；
（4）项目应具有一定的业务功能；
（5）项目界面进行过一定的设计美化。
注：
（1）期末项目的功能不应比教学案例的少，否则项目可能会被判为不及格。
（2）可根据自身情况，在教学案例的基础上增加个人信息管理、密码修改与找回、管理员信息管理、充值、付款、评价评分、订单管理、报表输出、物流等功能。
（3）项目界面应进行过美化。
4.期末项目演示后需要提交的材料如下：
（1）系统源码压缩包（包含创建数据库的SQL文件或数据库文件），文件命名为“学号-姓名-课程项目源码.rar”
（2）课程项目设计报告WORD文档，文件命名为“学号-姓名-期末课程项目报告.doc”
（3）如果没有参加现场演示答辩，则需要提交一份mp4格式的演示视频，要有声音解说，自己头像出现不少于1分钟，文件命名为“学号-姓名-演示视频.mp4”。参加现场演示答辩的同学不需要提交视频。
5.项目评分。
（1）课程项目总分根据页面效果、功能实现、设计报告等评分，项目成绩占期末成绩的50%。
（2）页面效果的评分主要考虑：页面布局、配色是否全理、协调，是否与主题相适应；页面整体与局部的美观度；页面菜单与超链接的操作用户体验是否友好；前端数据验证；页面动态效果是否有吸引力等。
（3）功能实现的评分主要考虑：项目实现的功能多少（注：至少要在教学案例基础上增加一些功能）； 功能的合理性和完整性；代码组织的结构性及规范性；代码的可读性（如变量的命名见名知义，代码有注释等）。
（4）设计报告的评分主要考虑：报告内容的完整性、正确性；格式的规范性；总结的真实性等。

=== exp4 ===

1.	任务：设计商城网站“苗木网”，网站包括了注册（register.jsp）、登录（login.jsp）、首页（index.jsp）、商品详情（productDetail.jsp）、购物车（cart.jsp）、用户中心（userCenter.jsp）6个页面；通过Servlet和JSP页面实现商城网站的数据库操作，完善了注册、登录、首页、商品详情、购物车、用户中心页面，和实现这些页面的数据库连接操作功能。
2.	要求：
（1）	首页显示数据库商品表中的商品信息，点击商品超链接后能打开商品详情页。
（2）	商品详情页显示某一个商品的详情信息及一个“加入购物车”按钮（该按钮上文字是“加购”），点击“加入购物车”后，将商品放入购物车中，购物车用数据库表或session实现都可以。
（3）	用户中心页面可查看用户购物车的信息。
（4）	只有登录后的用户才能将商品加入购物车，未注册用户可以通过注册页面注册成为会员。
（5）	访问数据库的方法使用了JDBCTemplate。
（6）	下订单、订单管理以及管理员后台管理功能如增加商品、维护商品等功能，额外实现的这些功能算入加分项。
3.	项目发布到了云服务器（URL：）。
4.	下文用文字和截图的方式说明各页面的核心代码和效果截图。
5.	下文有实验心得体会分技术总结和实验心得。